.left-image {
    background:url("images/sidebar.jpg");
    position: absolute;
    top: 0px;
    left: 0px;
    width: 700px;
    height: 1080px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
body {
    overflow: hidden;
}

@font-face {
    font-family: "logo";
    src: 
        local("Norse-Bold"),
        url("Norse-Bold.otf");
}

 .logo-bar {
    font-family: logo;
    width: 720px;
    height: 130px;
    display: flex;
    position: relative;
    top: 300px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
    
}


div .logo-bar h1 {
    position: relative;
    padding-left: 50px;
    top: -10px;
    left: 150px;
    font-size: 4rem;
    color: white;
}
.logo-bar img {
    position: relative;
    left: 180px;
}

.top-header {
    position: absolute;
    top: 0px;
    left: 700px;
    width: 1220px;
    height: 400px;
    overflow: hidden;
    background-color: rgb(246, 239, 239);
}

.top-header h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: relative;
    top: 200px;
    text-align: center;
}

#form {
    position: relative;
    top: 400px;
    box-shadow: 0px, 2px, 0px black;
}

.right {
    height: 1080px;
}